body {
  margin: 0;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root  {
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  color: black;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.5rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border: 10px;
  cursor: pointer;
  color: #7439db;
  border-radius: 10px;
}

#login:hover {
  transition: .5s;
  color: white;
  background-image: linear-gradient(150deg, #7439db, #C66FBC 48%, #F7944D);
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

body #ul {
  display: table;
  margin: 0 auto;
  /*list-style-type: none;*/
}

body {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.input {
  width: 300px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
}

.delBut {
  color: white;
  background: red;
  width: 30px;
  border-radius: 15px;
}

#add {
  height: 30px;
  color: white;
  background: green;
  border: 1px solid white;
 
}

#hid {
  height: 30px;
  color: white;
  background: black;
  border: 1px solid white;
  
}